/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  font-size: 62.5%;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h2 {
  font-size: 20px;
}
ul {
  list-style-type: disc;
  margin-left: 20px;
  line-height: 20px;
}
body {
  width: 1080px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
}
nav a {
  margin: 0 10px 0 30px;
}
header {
  margin: 20px;
}
header .name h1 {
  font-size: 3rem;
}
header .job h2 {
  font-size: 2rem;
  color: grey;
  margin-top: 10px;
}
@media (max-width: 767px) {
  header {
    display: flex;
    justify-content: center;
  }
}
header .contact-container {
  margin: 20px 10px;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}
header .contact-container div {
  margin: 20px;
}
header .contact-container div a:link {
  text-decoration: none;
}
.intro-container {
  margin: 20px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
}
.intro-container .intro {
  width: 40%;
}
.intro-container div {
  width: 20%;
}
.intro-container div h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}
.intro-container div p {
  font-size: 1rem;
  line-height: 1.2rem;
}
.intro-container div li {
  font-size: 1.2rem;
  line-height: 25px;
}
@media (max-width: 767px) {
  .intro-container {
    display: flex;
    flex-direction: column;
  }
}
.work-history {
  margin: 40px 20px;
}
.work-history h2 {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 2rem;
}
.work-history h3 {
  margin-bottom: 5px;
}
.work-history ul {
  margin-bottom: 20px;
}
.work-history p {
  line-height: 1.2rem;
}
.human-background {
  margin: 20px;
  border-top: 2px solid black;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}
.human-background div {
  width: 30%;
}
.human-background div h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.social {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
